@yellow:#fce38a;
@pink:#f38181;
@blue:#457b9d;
@red:#f54842;
@green:#60f542;

.margenes(@top:0px,@botton:0px) {
    margin-top: @top;
    margin-bottom: @botton;
}

.jumbotron{
    position:relative;
    background-size: cover;
    height: 100%;
    background-color: @pink;
    color: black;
    .margenes(50px,0px);
}

.btn{
    color:white;
    background-color: @blue;
}

.btn-contacto{
    .margenes(20px,0px);
}

.btn-reserva{
    width: 100%;
    left:0;
    bottom: 0;
    border-radius: 0px;
}  

.footer{
    padding: 20px 20px 0 40px;
    background-color:@pink;
    .margenes(100px,0px);
}

.thead-personalize{
    background-color: @yellow;
}