$yellow:#fce38a;
$pink:#f38181;
$blue:#457b9d;
$red:#f54842;
$green:#60f542;

@mixin margenes($top,$botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    position:relative;
    background-size: cover;
    height: 100%;
    background-color: $pink;
    color: black;
    @include margenes(50px,0px);
}

.btn{
    color:white;
    background-color: #457b9d;
}

.btn-contacto{
    @include margenes(20px,0px);
}

.btn-reserva{
    width: 100%;
    left:0;
    bottom: 0;
    border-radius: 0px;
}  

.footer{
    padding: 20px 20px 0 40px;
    background-color:$pink;
    @include margenes(100px,0px);
}

.thead-personalize{
    background-color: $yellow;
}

.left{
    float: left;
}

.right{
    float: right;
}

.card-hotel{
    flex: 1 200px;
    @include margenes(20px,0px);
}


.footer-address-icon{
    padding-right: 10px ;
}

.list-personalize{
    padding-top: 40px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.tab-content{
    padding-top: 20px;
}

.img-carrousel{
    height: 100%;
    position:relative;
}

