.jumbotron {
  position: relative;
  background-size: cover;
  height: 100%;
  background-color: #f38181;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  color: white;
  background-color: #457b9d;
}
.btn-contacto {
  margin-top: 20px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0px;
}
.footer {
  padding: 20px 20px 0 40px;
  background-color: #f38181;
  margin-top: 100px;
  margin-bottom: 0px;
}
.thead-personalize {
  background-color: #fce38a;
}
