.jumbotron {
  position: relative;
  background-size: cover;
  height: 100%;
  background-color: #f38181;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  color: white;
  background-color: #457b9d; }

.btn-contacto {
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0px; }

.footer {
  padding: 20px 20px 0 40px;
  background-color: #f38181;
  margin-top: 100px;
  margin-bottom: 0px; }

.thead-personalize {
  background-color: #fce38a; }

.left {
  float: left; }

.right {
  float: right; }

.card-hotel {
  flex: 1 200px;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.list-personalize {
  padding-top: 40px; }

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover; }

.tab-content {
  padding-top: 20px; }

.img-carrousel {
  height: 100%;
  position: relative; }

/*# sourceMappingURL=styles.css.map */
